.footer {
  width: 100%;
  padding: 50px 0 10px 20px;
  background-color: #000;
}

.footer>* {
  color: #fff;
}

.parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px 50px;
}

.child:nth-child(1) {
  width: 30%;
}

.child:nth-child(1) button {
  min-width: 100px;
}

.child:nth-child(2) {
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.child .sub-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer>a {
  color: black;
  font-size: small;
  font-weight: lighter;
}

.footer>a:hover {
  color: blue;
}

.sub-child h3 {
  font-size: 20px;
  font-weight: bold;
}
.authordata{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 30px;
  padding-left: 0;
  padding-top: 10px;
  padding-right: 40px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* keeps all on one line */
  gap: 20px;
  font-size: 32px;
}

.youtube-icon {
  color: red;
  font-size: 40px !important;
  /* make it bigger */
  position: relative;
  top: 4px;
  /* moves it slightly up */
}

.tiktok-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

@media (max-width: 769px) {
  .child:nth-child(1) {
    width: 50%;
    width: 500px;
  }

  .child:nth-child(2) {
    width: 100%;
  }

  .child:nth-child(2) .sub-child {
    width: 40%;
  }
  .social-icons{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .child:nth-child(1) {
    min-width: 200px;
    width: 80%;

  }

  .child:nth-child(2) {
    width: 100%;
  }

  .child:nth-child(2) .sub-child {
    width: 45%;
  }
}